Request for consent to add a new accessor with namespace: {{namespace}}, identifier: {{identifier}} at IdP ({{node_name}}{{^node_name}}{{node_id}}{{/node_name}}). Ref ID: {{reference_id}}

คำร้องเพื่อขอคำยินยอมในการเพิ่ม accessor ใหม่ด้วย namespace: {{namespace}} และ identifier: {{identifier}} ที่ IdP ({{node_name}}{{^node_name}}{{node_id}}{{/node_name}}) Ref ID: {{reference_id}}