Request for consent to add an identity with namespace: {{namespace}}, identifier: {{identifier}}. Ref ID: {{reference_id}}

คำร้องเพื่อขอคำยินยอมในการเพิ่มตัวตนในระบบด้วย namespace: {{namespace}} และ identifier: {{identifier}} Ref ID: {{reference_id}}