Request for consent to revoke an association of namespace: {{namespace}}, identifier: {{identifier}} from IdP ({{node_name}}{{^node_name}}{{node_id}}{{/node_name}}). Ref ID: {{reference_id}}

คำร้องเพื่อขอคำยินยอมในการเพิกถอนความเกี่ยวข้องของ namespace: {{namespace}} และ identifier: {{identifier}} ออกจาก IdP ({{node_name}}{{^node_name}}{{node_id}}{{/node_name}}) Ref ID: {{reference_id}}