Request for consent to revoke an existing accessor with ID: {{revoking_accessor_id}} and add a new accessor with ID: {{accessor_id}} of namespace: {{namespace}}, identifier: {{identifier}} at IdP ({{node_name}}{{^node_name}}{{node_id}}{{/node_name}}). Ref ID: {{reference_id}}

คำร้องเพื่อขอคำยินยอมในการเพิกถอน accessor เดิมที่มี ID: {{revoking_accessor_id}} และเพิ่ม accessor ใหม่ที่มี ID: {{accessor_id}} ของ namespace: {{namespace}} และ identifier: {{identifier}} ที่ IdP ({{node_name}}{{^node_name}}{{node_id}}{{/node_name}}) Ref ID: {{reference_id}}