Request for consent to revoke an accessor with ID: {{accessor_id}} of namespace: {{namespace}}, identifier: {{identifier}} at IdP ({{node_name}}{{^node_name}}{{node_id}}{{/node_name}}). Ref ID: {{reference_id}}

คำร้องเพื่อขอคำยินยอมในการเพิกถอน accessor ที่มี ID: {{accessor_id}} ของ namespace: {{namespace}} และ identifier: {{identifier}} ที่ IdP ({{node_name}}{{^node_name}}{{node_id}}{{/node_name}}) Ref ID: {{reference_id}}